div, id::content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #4ECDC4;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.buttion-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #f7fff7;
}
header {
    background-color: #1a535c;
}
nav a:hover {
    background-color: #ffe66d;
    color: #4ECDC4;
}
.book, .join {
    background-color: #1A535C;
    color: #4ecdc4;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #ffe66d;
    color: #1A535C;
}
#background {
    background-color: #1a535c;
}
.msg h2 {
    color: #1A535C;
}
.msg p {
    color: #1A535C;
}
.msg {
    background-color: #4ECDC4;
}
footer {
    background-color:  #4ecdc4;
    color: #1A535C;
}
.home-title {
    color: #4ECDC4;
}
h4 {
    color: #4ECDC4;
}
footer a {
    color: #1A535C;
    text-decoration: none;
}
footer a:hover {
    color: #1A535C;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}